In [1]:
import pandas as pd
import numpy as np

# Dataset 1

In [2]:
df1=pd.read_csv("book_review.csv")
df1.head()

,unique_id,asin,product_name,product_type,helpful,rating,title,date,reviewer,reviewer_location,review_text
0,1884956068:a_mainstay_reference_for_spanish-sp...,1884956068,Manual pedi�trico para los due�os del nuevo be...,books,7 of 8,5.0,A mainstay reference for Spanish-speaking home...,"April 6, 2000",Midwest Book Review,"Oregon, WI USA",This all-Spanish handbook for parents with new...
1,0679728740:you_want_the_necrophiliac_to_escape...,0679728740,Child of God: Books: Cormac Mccarthy,books,0 of 1,5.0,You want the necrophiliac to escape?,"October 20, 2006",Brian Asquith,NaN,McCarthy's writing and portrayal of Lester Bal...
2,0679728740:low_brow_and_juvenile:bruce_miller,0679728740,Child of God: Books: Cormac Mccarthy,books,2 of 5,2.0,Low brow and juvenile,"September 26, 2006",Bruce Miller,"Shippensburg, PA United States",Do you giggle uncontrollably when poking corps...
3,"0679728740:mccarthy,_a_brave_writer_with_an_in...",0679728740,Child of God: Books: Cormac Mccarthy,books,4 of 5,5.0,"McCarthy, a brave writer with an incredible co...","July 24, 2005","Christopher Davis ""Christopher E.D.""","Cleveland, MS",I was initiated into the world of Cormac McCar...
4,0679728740:sevierville_in_child_of_god:alex_jo...,0679728740,Child of God: Books: Cormac Mccarthy,books,11 of 14,4.0,SEVIERVILLE in Child of God,"November 20, 2002",Alex Johnson,"Sevierville, Tennessee",I cannot speak to the literary points in the n...

In [3]:
df1.shape

(42000, 11)

In [4]:
list(df1.columns)

['unique_id',
 'asin',
 'product_name',
 'product_type',
 'helpful',
 'rating',
 'title',
 'date',
 'reviewer',
 'reviewer_location',
 'review_text']

# Dataset 2

In [5]:
df2=pd.read_csv('positive_review.csv')
df2.head()

,unique_id,asin,product_name,product_type,helpful,rating,title,date,reviewer,reviewer_location,review_text
0,0785758968:one_of_the_best_crichton_novels:jos...,0785758968,Sphere: Books: Michael Crichton,books,0 of 1,5.0,One of the best Crichton novels,"July 1, 2006",Joseph M,"Colorado, USA",Sphere by Michael Crichton is an excellant nov...
1,0452279550:the_medicine_of_the_future:wafa_rashed,0452279550,Healing from the Heart: A Leading Surgeon Comb...,books,34 of 41,4.0,The Medicine of the Future,"November 6, 2002",Wafa Rashed,"Jabriya, KUWAIT",Dr. Oz is an accomplished heart surgeon in the...
2,"1599620065:beautiful!:sarah_silva_""sar""",1599620065,Mythology: DC Comics Art of Alex Ross 2007 Cal...,books,NaN,5.0,Beautiful!,"June 13, 2006","Sarah Silva ""Sar""","San Diego, CA USA",The most gorgeous artwork in comic books. Cont...
3,0743277724:for_lovers_of_robicheaux:g._rousseau,0743277724,Pegasus Descending: A Dave Robicheaux Novel (D...,books,1 of 1,4.0,For lovers of Robicheaux,"November 2, 2006",G. Rousseau,"Finistere, France",This book is for lovers of Robicheaux. His de...
4,061318114X:excellent_and_broad_survey_of_the_d...,061318114X,"Guns, Germs, and Steel: The Fates of Human Soc...",books,7 of 9,5.0,Excellent and broad survey of the development ...,"October 6, 2006","Patrick D. Goonan ""www.meaningful-life.us""","Pleasanton, CA",This is going to be a short and sweet review b...

In [6]:
df2.shape

(1000, 11)

In [7]:
list(df2.columns)

['unique_id',
 'asin',
 'product_name',
 'product_type',
 'helpful',
 'rating',
 'title',
 'date',
 'reviewer',
 'reviewer_location',
 'review_text']

# Dataset 3

In [8]:
df3=pd.read_csv('negative_review.csv')
df3.head()

,unique_id,asin,product_name,product_type,helpful,rating,title,date,reviewer,reviewer_location,review_text
0,"0312355645:horrible_book,_horrible.:mark_gospri",0312355645,Running with Scissors: A Memoir: Books: August...,books,4 of 9,1.0,"Horrible book, horrible.","November 14, 2006",Mark Gospri,NaN,THis book was horrible. If it was possible to...
1,1559278676:shallow_self-indulgence:joseph_s._p...,1559278676,Running with Scissors: A Memoir: Books: August...,books,1 of 6,1.0,shallow self-indulgence,"November 15, 2006","Joseph S. Perrott ""avid reader""","philadelphia, pa. United States",I like to use the Amazon reviews when purchasi...
2,"1559278676:horrible_book,_horrible.:mark_gospri",1559278676,Running with Scissors: A Memoir: Books: August...,books,4 of 9,1.0,"Horrible book, horrible.","November 14, 2006",Mark Gospri,NaN,THis book was horrible. If it was possible to...
3,"0425193373:disappointment:reader_""reader""",0425193373,Fierce Conversations: Achieving Sucess at Work...,books,10 of 13,1.0,Disappointment,"March 13, 2006","Reader ""Reader""",NaN,"I'm not sure who's writing these reviews, but ..."
4,0142004030:a_disappointing_mess:a._ross,0142004030,Lost in a Good Book (Thursday Next Novels): Bo...,books,6 of 7,2.0,A Disappointing Mess,"May 17, 2006",A. Ross,"Washington, DC",I picked up the first book in this series (The...

In [9]:
df3.shape

(1000, 11)

In [10]:
data=pd.concat([df1,df2]).drop_duplicates().reset_index(drop=True)

In [11]:
data.shape

(7000, 11)

# Clubbing all three datasets together

In [12]:
final_data=pd.concat([data,df3]).drop_duplicates().reset_index(drop=True)
print(final_data)

                                              unique_id        asin  \
0     1884956068:a_mainstay_reference_for_spanish-sp...  1884956068
1     0679728740:you_want_the_necrophiliac_to_escape...  0679728740
2         0679728740:low_brow_and_juvenile:bruce_miller  0679728740
3     0679728740:mccarthy,_a_brave_writer_with_an_in...  0679728740
4     0679728740:sevierville_in_child_of_god:alex_jo...  0679728740
...                                                 ...         ...
7995  0385514573:a_nice_place_to_visit....:nina_shis...  0385514573
7996                      0385514573:boring:o._gonzalez  0385514573
7997          097160200X:lacking:m._roman_"matt1234567"  097160200X
7998  1564147363:okay_for_ideas:stacy_e._burrell_"st...  1564147363
7999    0312273193:it's_just_"reefer_madness"_:r._johns  0312273193

                                           product_name product_type  \
0     Manual pedi�trico para los due�os del nuevo be...        books
1                  Child of God: Books: Cormac Mccarthy        books
2                  Child of God: Books: Cormac Mccarthy        books
3                  Child of God: Books: Cormac Mccarthy        books
4                  Child of God: Books: Cormac Mccarthy        books
...                                                 ...          ...
7995  Deadly Slipper: A Novel of Death in the Dordog...        books
7996  Deadly Slipper: A Novel of Death in the Dordog...        books
7997  Sitting Pretty: Looking and Feeling Better Wit...        books
7998  The 100 Best Businesses to Start When You Don'...        books
7999  The Hunting of the President: The Ten-Year Cam...        books

       helpful  rating                                              title  \
0       7 of 8     5.0  A mainstay reference for Spanish-speaking home...
1       0 of 1     5.0               You want the necrophiliac to escape?
2       2 of 5     2.0                              Low brow and juvenile
3       4 of 5     5.0  McCarthy, a brave writer with an incredible co...
4     11 of 14     4.0                        SEVIERVILLE in Child of God
...        ...     ...                                                ...
7995   5 of 10     2.0                          a nice place to visit....
7996    2 of 3     1.0                                             boring
7997    7 of 7     1.0                                            Lacking
7998  22 of 22     2.0                                     Okay for ideas
7999   8 of 62     1.0                        It's just "Reefer Madness"

                    date                                           reviewer  \
0          April 6, 2000                                Midwest Book Review
1       October 20, 2006                                      Brian Asquith
2     September 26, 2006                                       Bruce Miller
3          July 24, 2005               Christopher Davis "Christopher E.D."
4      November 20, 2002                                       Alex Johnson
...                  ...                                                ...
7995   February 25, 2006                        Nina Shishkoff "mycologist"
7996       July 30, 2005                                        O. Gonzalez
7997         May 3, 2005                             M. Roman "matt1234567"
7998      March 23, 2005  Stacy E. Burrell "Stacy's Blog (See stacyburre...
7999     August 13, 2004                                           R. Johns

                   reviewer_location  \
0                     Oregon, WI USA
1                                NaN
2     Shippensburg, PA United States
3                      Cleveland, MS
4             Sevierville, Tennessee
...                              ...
7995                  Mount Airy, MD
7996                     Ashburn, VA
7997                             NaN
7998                 Detroit, MI USA
7999                              CT

                                            review_text
0     This all-Spanish handbook for parents with new...
1     McCarthy's writing and portrayal of Lester Bal...
2     Do you giggle uncontrollably when poking corps...
3     I was initiated into the world of Cormac McCar...
4     I cannot speak to the literary points in the n...
...                                                 ...
7995  If I had been an editor and received "Deadly S...
7996  This book is very disappointing. The writing i...
7997  I was extremely disappointed by this book/pamp...
7998  This book is the typical package of business i...
7999  And you shouldn't inhale.Several reviewers hav...

[8000 rows x 11 columns]

In [13]:
final_data.shape

(8000, 11)

# Checking and correcting null values

In [14]:
final_data.isna().sum()

unique_id               0
asin                    0
product_name            0
product_type            0
helpful              1358
rating                  0
title                   1
date                    1
reviewer               34
reviewer_location    1008
review_text             0
dtype: int64

In [15]:
dff=final_data

In [16]:
dff.isna().sum()

unique_id               0
asin                    0
product_name            0
product_type            0
helpful              1358
rating                  0
title                   1
date                    1
reviewer               34
reviewer_location    1008
review_text             0
dtype: int64

In [17]:
dff[["helpful","title","date","reviewer","reviewer_location"]]

,helpful,title,date,reviewer,reviewer_location
0,7 of 8,A mainstay reference for Spanish-speaking home...,"April 6, 2000",Midwest Book Review,"Oregon, WI USA"
1,0 of 1,You want the necrophiliac to escape?,"October 20, 2006",Brian Asquith,NaN
2,2 of 5,Low brow and juvenile,"September 26, 2006",Bruce Miller,"Shippensburg, PA United States"
3,4 of 5,"McCarthy, a brave writer with an incredible co...","July 24, 2005","Christopher Davis ""Christopher E.D.""","Cleveland, MS"
4,11 of 14,SEVIERVILLE in Child of God,"November 20, 2002",Alex Johnson,"Sevierville, Tennessee"
...,...,...,...,...,...
7995,5 of 10,a nice place to visit....,"February 25, 2006","Nina Shishkoff ""mycologist""","Mount Airy, MD"
7996,2 of 3,boring,"July 30, 2005",O. Gonzalez,"Ashburn, VA"
7997,7 of 7,Lacking,"May 3, 2005","M. Roman ""matt1234567""",NaN
7998,22 of 22,Okay for ideas,"March 23, 2005","Stacy E. Burrell ""Stacy's Blog (See stacyburre...","Detroit, MI USA"
7999,8 of 62,"It's just ""Reefer Madness""","August 13, 2004",R. Johns,CT

In [18]:
dff["helpful"].fillna("not stated", inplace = True)
dff["title"].fillna("not stated", inplace = True)
dff["date"].fillna("not noted", inplace = True)
dff["reviewer"].fillna("not stated", inplace = True)
dff["reviewer_location"].fillna("not stated", inplace = True)

In [19]:
dff.isna().sum()

unique_id            0
asin                 0
product_name         0
product_type         0
helpful              0
rating               0
title                0
date                 0
reviewer             0
reviewer_location    0
review_text          0
dtype: int64

# lower caseing words

In [20]:
dff["unique_ids"]=dff["unique_id"].str.lower()
dff["name_of_product"]=dff["product_name"].str.lower()
dff["title_lower"]=dff["title"].str.lower()
dff["reviewers"]=dff["reviewer"].str.lower()
dff["reviewers_location"]=dff["reviewer_location"].str.lower()
dff["review"]=dff["review_text"].str.lower()

dff.head()

,unique_id,asin,product_name,product_type,helpful,rating,title,date,reviewer,reviewer_location,review_text,unique_ids,name_of_product,title_lower,reviewers,reviewers_location,review
0,1884956068:a_mainstay_reference_for_spanish-sp...,1884956068,Manual pedi�trico para los due�os del nuevo be...,books,7 of 8,5.0,A mainstay reference for Spanish-speaking home...,"April 6, 2000",Midwest Book Review,"Oregon, WI USA",This all-Spanish handbook for parents with new...,1884956068:a_mainstay_reference_for_spanish-sp...,manual pedi�trico para los due�os del nuevo be...,a mainstay reference for spanish-speaking home...,midwest book review,"oregon, wi usa",this all-spanish handbook for parents with new...
1,0679728740:you_want_the_necrophiliac_to_escape...,0679728740,Child of God: Books: Cormac Mccarthy,books,0 of 1,5.0,You want the necrophiliac to escape?,"October 20, 2006",Brian Asquith,not stated,McCarthy's writing and portrayal of Lester Bal...,0679728740:you_want_the_necrophiliac_to_escape...,child of god: books: cormac mccarthy,you want the necrophiliac to escape?,brian asquith,not stated,mccarthy's writing and portrayal of lester bal...
2,0679728740:low_brow_and_juvenile:bruce_miller,0679728740,Child of God: Books: Cormac Mccarthy,books,2 of 5,2.0,Low brow and juvenile,"September 26, 2006",Bruce Miller,"Shippensburg, PA United States",Do you giggle uncontrollably when poking corps...,0679728740:low_brow_and_juvenile:bruce_miller,child of god: books: cormac mccarthy,low brow and juvenile,bruce miller,"shippensburg, pa united states",do you giggle uncontrollably when poking corps...
3,"0679728740:mccarthy,_a_brave_writer_with_an_in...",0679728740,Child of God: Books: Cormac Mccarthy,books,4 of 5,5.0,"McCarthy, a brave writer with an incredible co...","July 24, 2005","Christopher Davis ""Christopher E.D.""","Cleveland, MS",I was initiated into the world of Cormac McCar...,"0679728740:mccarthy,_a_brave_writer_with_an_in...",child of god: books: cormac mccarthy,"mccarthy, a brave writer with an incredible co...","christopher davis ""christopher e.d.""","cleveland, ms",i was initiated into the world of cormac mccar...
4,0679728740:sevierville_in_child_of_god:alex_jo...,0679728740,Child of God: Books: Cormac Mccarthy,books,11 of 14,4.0,SEVIERVILLE in Child of God,"November 20, 2002",Alex Johnson,"Sevierville, Tennessee",I cannot speak to the literary points in the n...,0679728740:sevierville_in_child_of_god:alex_jo...,child of god: books: cormac mccarthy,sevierville in child of god,alex johnson,"sevierville, tennessee",i cannot speak to the literary points in the n...

In [21]:
dff.drop(['unique_ids','asin','name_of_product','product_name','product_type','helpful','title','unique_id','reviewer','reviewer_location','review_text','rating','title_lower','date','reviewers','reviewers_location'],axis=1,inplace=True)

In [22]:
dff['review'] = dff['review'].astype(str)

# Removing punctuation marks

In [23]:
import string
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(review):
    return review.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

dff['clean_review']= dff['review'].apply(lambda x:remove_punctuation(x))

In [24]:
dff.head()

,review,clean_review
0,this all-spanish handbook for parents with new...,this allspanish handbook for parents with new ...
1,mccarthy's writing and portrayal of lester bal...,mccarthys writing and portrayal of lester ball...
2,do you giggle uncontrollably when poking corps...,do you giggle uncontrollably when poking corps...
3,i was initiated into the world of cormac mccar...,i was initiated into the world of cormac mccar...
4,i cannot speak to the literary points in the n...,i cannot speak to the literary points in the n...

In [25]:
list(dff.columns)

['review', 'clean_review']

# Tokenisation

In [26]:
import re
def i(clean_review):
    tokens=re.findall(r'\s?(\s*\S+)', clean_review.rstrip())
    return tokens

dff['review_tokenied']= dff['clean_review'].apply(lambda x: i(x))

In [27]:
dff.head()

,review,clean_review,review_tokenied
0,this all-spanish handbook for parents with new...,this allspanish handbook for parents with new ...,"[this, allspanish, handbook, for, parents, wit..."
1,mccarthy's writing and portrayal of lester bal...,mccarthys writing and portrayal of lester ball...,"[mccarthys, writing, and, portrayal, of, leste..."
2,do you giggle uncontrollably when poking corps...,do you giggle uncontrollably when poking corps...,"[do, you, giggle, uncontrollably, when, poking..."
3,i was initiated into the world of cormac mccar...,i was initiated into the world of cormac mccar...,"[i, was, initiated, into, the, world, of, corm..."
4,i cannot speak to the literary points in the n...,i cannot speak to the literary points in the n...,"[i, cannot, speak, to, the, literary, points, ..."

# removal of stopwords

In [28]:
#importing nlp library
import nltk
nltk.download('stopwords')

stopwords = nltk.corpus.stopwords.words('english')
print(stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ABC\AppData\Roaming\nltk_data...

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data]   Package stopwords is already up-to-date!

In [29]:
def remove_stopwords(review_tokenied):
    output= [i for i in review_tokenied if i not in stopwords]
    return output

dff['review_nostop']= dff['review_tokenied'].apply(lambda x:remove_stopwords(x))

In [30]:
dff.head()

,review,clean_review,review_tokenied,review_nostop
0,this all-spanish handbook for parents with new...,this allspanish handbook for parents with new ...,"[this, allspanish, handbook, for, parents, wit...","[allspanish, handbook, parents, new, babies, p..."
1,mccarthy's writing and portrayal of lester bal...,mccarthys writing and portrayal of lester ball...,"[mccarthys, writing, and, portrayal, of, leste...","[mccarthys, writing, portrayal, lester, ballar..."
2,do you giggle uncontrollably when poking corps...,do you giggle uncontrollably when poking corps...,"[do, you, giggle, uncontrollably, when, poking...","[giggle, uncontrollably, poking, corpses, stic..."
3,i was initiated into the world of cormac mccar...,i was initiated into the world of cormac mccar...,"[i, was, initiated, into, the, world, of, corm...","[initiated, world, cormac, mccarthy, novel, so..."
4,i cannot speak to the literary points in the n...,i cannot speak to the literary points in the n...,"[i, cannot, speak, to, the, literary, points, ...","[cannot, speak, literary, points, novel, thoug..."

# Frequent words

In [31]:
dff['review_nostop']= dff['review_nostop'].astype(str)
most = pd.Series(' '.join(dff['review_nostop']).split()).value_counts()[:10]
most

'           29396
'book',     14286
'one',       4842
'read',      4817
'like',      3099
'would',     2951
i',          2822
the',        2595
'time',      2423
'story',     2360
dtype: int64

In [32]:
most = list(most.index)
def remove_freqwords(review_nostop):
    return " ".join([word for word in review_nostop.split() if word not in most])

dff["review_stopfreq"] = dff["review_nostop"].apply(lambda review_nostop: remove_freqwords(review_nostop))
dff["review_stopfreq"]

0       ['allspanish', 'handbook', 'parents', 'new', '...
1       ['mccarthys', 'writing', 'portrayal', 'lester'...
2       ['giggle', 'uncontrollably', 'poking', 'corpse...
3       ['initiated', 'world', 'cormac', 'mccarthy', '...
4       ['cannot', 'speak', 'literary', 'points', 'nov...
                              ...
7995    ['editor', 'received', 'deadly', 'slipperi', '...
7996    ['book', 'disappointing', 'writing', 'terrible...
7997    ['extremely', 'disappointed', 'bookpamphlet', ...
7998    ['book', 'typical', 'package', 'business', 'id...
7999    ['shouldnt', 'inhaleseveral', 'reviewers', 'ec...
Name: review_stopfreq, Length: 8000, dtype: object

In [33]:
dff.head()

,review,clean_review,review_tokenied,review_nostop,review_stopfreq
0,this all-spanish handbook for parents with new...,this allspanish handbook for parents with new ...,"[this, allspanish, handbook, for, parents, wit...","['allspanish', 'handbook', 'parents', 'new', '...","['allspanish', 'handbook', 'parents', 'new', '..."
1,mccarthy's writing and portrayal of lester bal...,mccarthys writing and portrayal of lester ball...,"[mccarthys, writing, and, portrayal, of, leste...","['mccarthys', 'writing', 'portrayal', 'lester'...","['mccarthys', 'writing', 'portrayal', 'lester'..."
2,do you giggle uncontrollably when poking corps...,do you giggle uncontrollably when poking corps...,"[do, you, giggle, uncontrollably, when, poking...","['giggle', 'uncontrollably', 'poking', 'corpse...","['giggle', 'uncontrollably', 'poking', 'corpse..."
3,i was initiated into the world of cormac mccar...,i was initiated into the world of cormac mccar...,"[i, was, initiated, into, the, world, of, corm...","['initiated', 'world', 'cormac', 'mccarthy', '...","['initiated', 'world', 'cormac', 'mccarthy', '..."
4,i cannot speak to the literary points in the n...,i cannot speak to the literary points in the n...,"[i, cannot, speak, to, the, literary, points, ...","['cannot', 'speak', 'literary', 'points', 'nov...","['cannot', 'speak', 'literary', 'points', 'nov..."

# Rare words

In [34]:
most2 = pd.Series(' '.join(dff['review_stopfreq']).split()).value_counts()[:10]
most2

'books',     2359
'good',      2322
'many',      2220
'people',    2207
'great',     2118
'much',      2072
'also',      1995
'life',      1971
'first',     1916
'get',       1874
dtype: int64

In [35]:
def remove_freqwords(review_stopfreq):
    return " ".join([word for word in review_stopfreq.split() if word not in most2])

dff["review_stoprare"] = dff["review_stopfreq"].apply(lambda review_nostop: remove_freqwords(review_nostop))
dff["review_stoprare"]

0       ['allspanish', 'handbook', 'parents', 'new', '...
1       ['mccarthys', 'writing', 'portrayal', 'lester'...
2       ['giggle', 'uncontrollably', 'poking', 'corpse...
3       ['initiated', 'world', 'cormac', 'mccarthy', '...
4       ['cannot', 'speak', 'literary', 'points', 'nov...
                              ...
7995    ['editor', 'received', 'deadly', 'slipperi', '...
7996    ['book', 'disappointing', 'writing', 'terrible...
7997    ['extremely', 'disappointed', 'bookpamphlet', ...
7998    ['book', 'typical', 'package', 'business', 'id...
7999    ['shouldnt', 'inhaleseveral', 'reviewers', 'ec...
Name: review_stoprare, Length: 8000, dtype: object

# stemming

In [36]:
from textblob import TextBlob
TextBlob(dff['review_stoprare'][1]).words

WordList(["'mccarthys", "'writing", "'portrayal", "'lester", "'ballard", "'necrophiliac", "'well", "'done", "'townfolk", "'want", "'escape", "'wonderwhy", "'siding", "'necrophiliac", "'writing", "'high", "'standards", "'expected", "'mccarthy", "'usual", "'plumbs", "'darker", "'side", "'human", "'psyche", "'interesting", "'twist", "'plot", 'ballard', "'falsely", "'accused", "'rape", "'house", "'auctioned", "'hes", "'left", "'social", "'outcast", "'animal", "'removed", "'ties", "'humanity", "'becomes", "'animal", "'deal", "'darker", "'side", "'give", "'read"])

In [37]:
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()

In [38]:
def stemming(review_stoprare):
    stem_text = [porter_stemmer.stem(word) for word in str(review_stoprare).split()]
    return stem_text

#print(word, " : ", porter_stemmer.stem(word))
dff['review_stemmed']=dff['review_stoprare'].apply(lambda x: stemming(x))

In [39]:
dff['review_stemmed']

0       [['allspanish',, 'handbook',, 'parents',, 'new...
1       [['mccarthys',, 'writing',, 'portrayal',, 'les...
2       [['giggle',, 'uncontrollably',, 'poking',, 'co...
3       [['initiated',, 'world',, 'cormac',, 'mccarthy...
4       [['cannot',, 'speak',, 'literary',, 'points',,...
                              ...
7995    [['editor',, 'received',, 'deadly',, 'slipperi...
7996    [['book',, 'disappointing',, 'writing',, 'terr...
7997    [['extremely',, 'disappointed',, 'bookpamphlet...
7998    [['book',, 'typical',, 'package',, 'business',...
7999    [['shouldnt',, 'inhaleseveral',, 'reviewers',,...
Name: review_stemmed, Length: 8000, dtype: object

# lemmatization

In [40]:
import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ABC\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [41]:
import nltk
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(review_stemmed):
    pos_tagged_text = nltk.pos_tag(review_stemmed)
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

#print(wordnet_lemmatizer.lemmatize(word))
dff["review_lemmatized"] = dff["review_stemmed"].apply(lambda x: lemmatize_words(x))

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ABC\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [42]:
dff["review_lemmatized"]

0       ['allspanish', 'handbook', 'parents', 'new', '...
1       ['mccarthys', 'writing', 'portrayal', 'lester'...
2       ['giggle', 'uncontrollably', 'poking', 'corpse...
3       ['initiated', 'world', 'cormac', 'mccarthy', '...
4       ['cannot', 'speak', 'literary', 'points', 'nov...
                              ...
7995    ['editor', 'received', 'deadly', 'slipperi', '...
7996    ['book', 'disappointing', 'writing', 'terrible...
7997    ['extremely', 'disappointed', 'bookpamphlet', ...
7998    ['book', 'typical', 'package', 'business', 'id...
7999    ['shouldnt', 'inhaleseveral', 'reviewers', 'ec...
Name: review_lemmatized, Length: 8000, dtype: object

# spelling check

In [43]:
from spellchecker import SpellChecker

spell = SpellChecker()
def correct_spellings(review_lemmatized):
    corrected_text = []
    misspelled_words = spell.unknown(review_lemmatized)
    for word in str(review_lemmatized).split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else:
            corrected_text.append(word)
    return " ".join(corrected_text)

dff["Final_text"] = dff["review_lemmatized"].apply(lambda x: correct_spellings(x))

In [44]:
dff.head()

,review,clean_review,review_tokenied,review_nostop,review_stopfreq,review_stoprare,review_stemmed,review_lemmatized,Final_text
0,this all-spanish handbook for parents with new...,this allspanish handbook for parents with new ...,"[this, allspanish, handbook, for, parents, wit...","['allspanish', 'handbook', 'parents', 'new', '...","['allspanish', 'handbook', 'parents', 'new', '...","['allspanish', 'handbook', 'parents', 'new', '...","[['allspanish',, 'handbook',, 'parents',, 'new...","['allspanish', 'handbook', 'parents', 'new', '...","['allspanish', 'handbook', 'parents', 'new', '..."
1,mccarthy's writing and portrayal of lester bal...,mccarthys writing and portrayal of lester ball...,"[mccarthys, writing, and, portrayal, of, leste...","['mccarthys', 'writing', 'portrayal', 'lester'...","['mccarthys', 'writing', 'portrayal', 'lester'...","['mccarthys', 'writing', 'portrayal', 'lester'...","[['mccarthys',, 'writing',, 'portrayal',, 'les...","['mccarthys', 'writing', 'portrayal', 'lester'...","['mccarthys', 'writing', 'portrayal', 'lester'..."
2,do you giggle uncontrollably when poking corps...,do you giggle uncontrollably when poking corps...,"[do, you, giggle, uncontrollably, when, poking...","['giggle', 'uncontrollably', 'poking', 'corpse...","['giggle', 'uncontrollably', 'poking', 'corpse...","['giggle', 'uncontrollably', 'poking', 'corpse...","[['giggle',, 'uncontrollably',, 'poking',, 'co...","['giggle', 'uncontrollably', 'poking', 'corpse...","['giggle', 'uncontrollably', 'poking', 'corpse..."
3,i was initiated into the world of cormac mccar...,i was initiated into the world of cormac mccar...,"[i, was, initiated, into, the, world, of, corm...","['initiated', 'world', 'cormac', 'mccarthy', '...","['initiated', 'world', 'cormac', 'mccarthy', '...","['initiated', 'world', 'cormac', 'mccarthy', '...","[['initiated',, 'world',, 'cormac',, 'mccarthy...","['initiated', 'world', 'cormac', 'mccarthy', '...","['initiated', 'world', 'cormac', 'mccarthy', '..."
4,i cannot speak to the literary points in the n...,i cannot speak to the literary points in the n...,"[i, cannot, speak, to, the, literary, points, ...","['cannot', 'speak', 'literary', 'points', 'nov...","['cannot', 'speak', 'literary', 'points', 'nov...","['cannot', 'speak', 'literary', 'points', 'nov...","[['cannot',, 'speak',, 'literary',, 'points',,...","['cannot', 'speak', 'literary', 'points', 'nov...","['cannot', 'speak', 'literary', 'points', 'nov..."

# Displaying only necessary columns

In [45]:
dff.drop(['review','clean_review','review_tokenied','review_nostop','review_stopfreq','review_stoprare','review_stemmed','review_lemmatized'],axis=1)

                                             Final_text
0     ['allspanish', 'handbook', 'parents', 'new', '...
1     ['mccarthys', 'writing', 'portrayal', 'lester'...
2     ['giggle', 'uncontrollably', 'poking', 'corpse...
3     ['initiated', 'world', 'cormac', 'mccarthy', '...
4     ['cannot', 'speak', 'literary', 'points', 'nov...
...                                                 ...
7995  ['editor', 'received', 'deadly', 'slipperi', '...
7996  ['book', 'disappointing', 'writing', 'terrible...
7997  ['extremely', 'disappointed', 'bookpamphlet', ...
7998  ['book', 'typical', 'package', 'business', 'id...
7999  ['shouldnt', 'inhaleseveral', 'reviewers', 'ec...

[8000 rows x 1 columns]

In [52]:
def getSubjectivity(Final_text):
    return TextBlob(Final_text).sentiment.subjectivity
    
def getPolarity(Final_text):
    return TextBlob(Final_text).sentiment.polarity

dff ['polarity'] = dff['Final_text'].apply(getPolarity)
dff['subjectivity'] = dff['Final_text'].apply(getSubjectivity)

def getAnalysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'
    
dff['Analysis_labels'] = dff['polarity'].apply(lambda x: getAnalysis(x))

In [53]:
dff.columns

Index(['review', 'clean_review', 'review_tokenied', 'review_nostop',
       'review_stopfreq', 'review_stoprare', 'review_stemmed',
       'review_lemmatized', 'Final_text', 'polarity', 'subjectivity',
       'Analysis_labels'],
      dtype='object')

In [56]:
clean_amazon_data=dff[['Final_text', 'polarity','Analysis_labels']]

In [57]:
pd.set_option('max_colwidth', -1)
clean_amazon_data.head()

<ipython-input-57-45b765fade73>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

,Final_text,polarity,Analysis_labels
0,"['allspanish', 'handbook', 'parents', 'new', 'babies', 'prove', 'essential', 'concerned', 'childs', 'health', 'manual', 'pediatrico', 'appeared', 'english', 'spanish', 'edition', 'provides', 'essential', 'health', 'information', 'glance', 'parents', 'unversed', 'medical', 'care', 'mainstay', any', 'spanishspeaking', 'home', 'children']",0.022727,Positive
1,"['mccarthys', 'writing', 'portrayal', 'lester', 'ballard', 'necrophiliac', 'well', 'done', 'townfolk', 'want', 'escape', 'wonderwhy', 'siding', 'necrophiliac', 'writing', 'high', 'standards', 'expected', 'mccarthy', 'usual', 'plumbs', 'darker', 'side', 'human', 'psyche', 'interesting', 'twist', 'plot', ballard', 'falsely', 'accused', 'rape', 'house', 'auctioned', 'hes', 'left', 'social', 'outcast', 'animal', 'removed', 'ties', 'humanity', 'becomes', 'animal', 'deal', 'darker', 'side', 'give', 'read']",-0.007083,Negative
2,"['giggle', 'uncontrollably', 'poking', 'corpses', 'stick', 'look', 'youi', 'understand', 'appeal', 'certain', 'demographic', 'guess', 'shouldnt', 'expected', 'certainly', 'didnt', 'expect', 'literary', 'masterpeice', 'awhile', 'felt', 'giving', 'didnt', 'since', 'short', 'may', 'well', 'grotesque', 'disturbing', 'seen', 'described', 'elsewhere', 'author', 'either', 'left', 'incapable', 'proper', 'narrative', 'make', 'potentially', 'disturbing', 'scenes', 'vivid', 'unfortunately', 'applies', 'aspects', 'bookthe', 'entire', 'rural', 'vernacular', 'including', 'ignoring', 'proper', 'punctuation', 'end', 'result', 'nothing', 'described', 'detail', 'reading', 'poorly', 'worded', 'list', 'stuff', 'happened', 'almost', 'wasnt', 'really', 'trying', 'hard', 'really', 'told', 'simpleminded', 'country', 'person', an', 'omniscient', 'peoples', 'minds', 'suppose', 'idea', 'could', 'worked', 'doesnt', 'terrible', 'annoying', 'vague', 'waste', 'time']",-0.186439,Negative
3,"['initiated', 'world', 'cormac', 'mccarthy', 'novel', 'southern', 'lit', 'class', my', 'professor', 'vice', 'president', 'cormac', 'mccarthy', 'appreciation', 'society', 'considers', 'mccarthy', 'talented', 'novelists', 'twentieth', 'century', this', 'work', 'product', 'evolved', 'understanding', 'faulkner', it', 'incorporates', 'typical', 'faulknarian', 'literary', 'elements', 'subject', 'matter', 'stretches', 'evolves', 'unusually', 'intense', 'point', there', 'message', 'decay', 'especially', 'south', 'diction', 'especially', 'flood', 'degeneration', 'lester', 'ballard', 'concerned', there', 'old', 'south', 'v', 'new', 'south', 'post', 'reconstuction', 'circumstances', 'south', 'disposession', 'ballard', there', 'lust', 'something', 'faulkner', 'tackeled', 'subtle', 'manner', 'mccarthy', 'sound', 'fury', 'lay', 'dying', however', 'mccarthys', 'lust', 'intense', 'grotesque', 'described', 'without', 'sentiment', 'amazing', 'display', 'gift', 'total', 'candor', mccarthy', 'nothing', 'short', 'stoic', 'descriptions', 'must', 'posess', 'amazing', 'constitution', 'ability', 'write', 'make', 'us', 'vomit', 'thinking', 'ability', 'reduce', 'human', 'character', 'lowest', 'common', 'denomimnator', 'performing', 'unspeakable', 'acts', 'depravity', 'remaining', 'valid', 'character', 'whose', 'presence', 'still', 'carries', 'literary', 'message', 'human', 'well', 'unique', 'gifts', this', 'novel', 'may', 'hard', 'take', 'faint', 'heart', 'well', 'worth', it', 'haunting', 'reader', 'perverse', 'subject', 'matter', 'understated', 'messages', 'masterfully', 'placed', 'character', 'lester', 'ballard', 'disposessed', 'depraved', 'madman', 'holding', 'dark', 'secrets', 'humanity', 'driven']",0.075392,Positive
4,"['cannot', 'speak', 'literary', 'points', 'novel', 'though', 'say', 'enjoyed', 'fact', 'couldnt', 'put', 'finished', 'however', 'think', 'interesting', 'setting', 'considering', 'set', 'hometown', 'sevierville', 'tennessee', 'strangely', 'author', 'refers', 'accurately', 'several', 'persons', 'events', 'ive', 'known', 'forever', 'mr', 'wades', 'children', 'still', 'live', 'sevierville', 'whaley', 'ogle', 'families', '1964', 'flood', 'parking', 'meters', 'white', 'caps', 'stopped', 'real', 'clint', 'eastwood', 'sevier', 'county', 'sheriff', 'opening', 'scene', 'auctioner', 'based', 'cb', 'mccarter', 'whose', 'trademark', 'saying', 'sell', 'earth', 'cb', 'grandfather', 'never', 'told', 'runins', 'lester', 'ballard', 'novels', 'main', 'character', 'thank', 'goodness', 'turns', 'ballard', 'murdering', 'necrophiliac', 'mccarthy', 'takes', 'writes', 'instead', 'mirroring', 'persons', 'actual', 'community']",0.155303,Positive

In [58]:
clean_amazon_data.shape

(8000, 3)

In [60]:
clean_amazon_data.Analysis_labels.unique()

array(['Positive', 'Negative', 'Neutral'], dtype=object)

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer
import time
from sklearn import svm
from sklearn.metrics import classification_report
vectorizer = TfidfVectorizer(min_df = 5,
                             max_df = 0.8,
                             sublinear_tf = True,
                             use_idf = True)

In [67]:
from sklearn.model_selection import train_test_split
x = vectorizer.fit_transform(clean_amazon_data['Final_text'])
y = vectorizer.transform(clean_amazon_data['Analysis_labels'])

In [69]:
y=clean_amazon_data['Analysis_labels']

In [70]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=10)

In [71]:
x_train.shape

(6400, 12280)

In [72]:
from sklearn import svm
from sklearn.svm import SVC
model = SVC(C=50,kernel='linear')
model.fit(x_train, y_train)

SVC(C=50, kernel='linear')

In [73]:
model.score(x_test, y_test)

0.880625